<div class="row" style="margin: 50px ;">
  <div class="col-md-6">
  
  
      <form class="btform"  #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
              <label for="title">Title</label>
              <input   #title="ngModel" [(ngModel)]="product.title" id="title "  name="title" type="text" class="form-control" >
              <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                  title is required
              </div>
          
          </div>
          <div class="form-group">
              <label for="price">price</label>
              <div class="input-group-prepend"><span class="input-group-text">$</span>
                  <input  id="price " [(ngModel)]="product.price"  #price="ngModel"  name="price" ngModel type="number"class="form-control"  required [min]="0" >
          
          
          
              </div>
              <div class="alert alert-danger" *ngIf="price.touched && price.invalid " >
             <div *ngIf="price.errors.required">price  is requred</div> 
             <div *ngIf="price.errors?.min">price should be greater than 0 or equal to zero</div>
          
          
          </div>
          
          </div>
          <div class="form-group">
              <label for="category">Catgories</label>
              <select  id="category" [(ngModel)]="product.category"  name="category" #category="ngModel"ngModel  class="form-control" >
                  <option value=""></option>
                  <option *ngFor="let c of   categories$ |async" [value]="c.category">
                      {{c.name}}
                  </option>
          
                  </select>
                  <div class="alert alert-danger" *ngIf="category.touched &&category.invalid   ">Please select again</div>
          
          </div>
          <div class="form-group">
              <label for="imageUrl">Imageurl</label>
              <input  #imageUrl="ngModel"ngModel  [(ngModel)]="product.imageUrl" id="imageUrl "name="imageUrl" type="text" class="form-control"  required url>
          </div>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
             <div *ngIf="imageUrl.errors.required"> imageUrl is required</div>
             <div *ngIf="imageUrl.errors?.url">image url is invaild</div>
          </div>
          <button class="btn-primary">Save</button>
      
         <button class="btn-danger" type="button" (click)="delete()">Delete</button>
          
          
          </form>
          
  
  
  
  </div>
  <div class="col-md-6">
  
      <div class="card" style="width: 20rem;">
          <img class="card-img-top" [src]="product.imageUrl" >
          <div class="card-body">
            <h5 class="card-title"> 
               {{product.title}}
            </h5>
            <p class="card-text">
             {{product.price | currency:'USD':true}}
            </p>
          </div>
        </div>
  
  </div>
  
  
  
  
  
  </div>
  
  
  
  
  
  
  
  
  